{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <main class="intro-section">
        <div class="container">
            <div class="grid">
            <div class="column-xs-12">
                <ul class="slider">
                <li class="slider-item active">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">Hello! </span></h1>
                            <h6 class="description" style="text-align: center;">Press to the left white space to see magic :) </h6>

                        </a><s></s>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                        <a href="#"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt=" "></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Hi! These are some arts by George Condo, whom I admire</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                        <p class="description">These are some arts done by George Condo. They are amazing!  🔥 🔥 🔥 </p>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">I'm a sophomore student at NYUAD.</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="#"><img style="position: relative;" src="{% static 'assets/images/art2.jpeg' %}" alt="#"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">I am majoring at CS with Math minor</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">Majoring in Computer Science</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href=""><img style="position: relative;" src="{% static 'assets/images/art6.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">s
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Majoring in Computer Science</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">Have a nice day!</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="#"><img style="position: relative;" src="{% static 'assets/images/art4.jpg' %}" alt="#"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Have a nice day!</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                </ul>
            <div class="grid">
                <div class="column-xs-12">
                <div class="controls">
                    <button class="previous">
                        <i class="ion-ios-arrow-thin-left"></i>
                    </a>
                    <button class="next">
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
{% endblock content %}
